@font-face{
    font-family: font1;
    src: url('fonts/font1.otf');
}
*{
    margin: 0;
    padding: 0;
}
.pier{
  
    color: white;
    text-decoration: none;
    font-size: 200%;
    float: right;
    margin-right: 15%;
	position: relative;
	transition: 1s all;
    font-family: 'Courgette', cursive;
    
    
	
}
.pier:hover{
    transform: scale(1.2, 1.2);
    transition: 1s all;
}
.m{
    float: right;
    margin-right: 5%;
    width: 20%;
    height: 100%;
    
}

.m > img
{
    height: 100%;
}

nav{
    text-align: center;
    position: static;
    height: 100%;
}
header{
    background-color: rgba(19,13,6,0.9);
    position: fixed;
    width: 100%;
    height: 8.5%;
    border-bottom: 0px solid;
    z-index: 99;
}

footer{
    font-size: 110%;
    padding-top: 97.5vh;
    z-index: 50;
    position: absolute;
    margin-left: 45%;
    color: white;
    
  
}


img[src="img/logo1.1.png"]{
    
    transform: scale(0.9);
}
.dx{
    float: left;
    height: 100%;
    width: 30%;
}

.xd
{
    float: left;
    height: 100%;
    width: 70%;
    margin-top: 1.2%;
}

.dx > img
{
    height: 100%;
}

/* KONIEC */

.section1{
    background-image: url(img/optim_adam-wilson-416248-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.section2{
    background-image: url(img/whiskey_jack_daniels_920x1200_009.jpg);
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 100vh;
    z-index:50;
}
.gal{
    z-index: -1;
    margin-left: 10%;
    margin-top: 6.5%;
    background-color: rgba(19,13,6,0.9);
    z-index: 30;
    height: 85%;
    width: 80%;
    position: fixed;
    margin-right: 30px;
    border-radius: 30px;
}
.gal2{
    z-index: 999;
    margin-left: 3%;
    margin-top: 7.5%;
    z-index: 30;
    height:82%;
    width:63%;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 22px;
    margin-right: 30px;
    border-radius: 30px;
}
img[src="img/gal1.1.jpg"]{
    position: fixed;
    top:35%;
    left:21.5%;
    transform: translate(-50%,-50%); 
    transition: 0.5s all;
}
img[src="img/gal2.1.jpg"]{
    position: fixed;
    top:35%;
    left:40.5%;
    transform: translate(-50%,-50%); 
    transition: 0.5s all;
}
img[src="img/gal3.1.jpg"]{
    position: fixed;
    top:35%;
    left:59.5%;
    transform: translate(-50%,-50%); 
    transition: 0.5s all;
}
img[src="img/gal4.1.jpg"]{
    position: fixed;
    top:35%;
    left:78.5%;
    transform: translate(-50%,-50%); 
    transition: 0.5s all;
}
/* ------------------------------- */
img[src="img/gal5.1.jpg"]{
    position: fixed;
    top:41%;
    left:21.5%;
    transform: translate(-50%,50%); 
    transition: 0.5s all;
}
img[src="img/gal6.1.jpg"]{
    position: fixed;
    top:41%;
    left:40.5%;
    transform: translate(-50%,50%); 
    transition: 0.5s all;
}
img[src="img/gal7.1.jpg"]{
    position: fixed;
    top:41%;
    left:59.5%;
    transform: translate(-50%,50%); 
    transition: 0.5s all;
}
img[src="img/gal8.1.jpg"]{
    position: fixed;
    top:41%;
    left:78.5%;
    transform: translate(-50%,50%); 
    transition: 0.5s all;
}
/* ---------------HOVER---------------- */
img[src="img/gal1.1.jpg"]:hover{
    position: fixed;
    top:35%;
    left:21.5%;
    transform: scale(1.07, 1.07) translate(-47%,-47%);
    box-shadow: 0 0 40px red;
}
img[src="img/gal2.1.jpg"]:hover{
    position: fixed;
    top:35%;
    left:40.5%;
    transform: scale(1.07, 1.07) translate(-47%,-47%); 
    box-shadow: 0 0 40px red;
}
img[src="img/gal3.1.jpg"]:hover{
    position: fixed;
    top:35%;
    left:59.5%;
    transform: scale(1.07, 1.07) translate(-47%,-47%);
    box-shadow: 0 0 40px red;
}
img[src="img/gal4.1.jpg"]:hover{
    position: fixed;
    top:35%;
    left:78.5%;
    transform: scale(1.07, 1.07) translate(-47%,-47%);
    box-shadow: 0 0 40px red;
}
/* ------------------------------- */
img[src="img/gal5.1.jpg"]:hover{
    position: fixed;
    top:41%;
    left:21.5%;
    transform: translate(-50%,50%) scale(1.07, 1.07); 
    box-shadow: 0 0 40px red;
}
img[src="img/gal6.1.jpg"]:hover{
    position: fixed;
    top:41%;
    left:40.5%;
    transform: translate(-50%,50%) scale(1.07, 1.07); 
    box-shadow: 0 0 40px red;
}
img[src="img/gal7.1.jpg"]:hover{
    position: fixed;
    top:41%;
    left:59.5%;
    transform: translate(-50%,50%) scale(1.07, 1.07);  
    box-shadow: 0 0 40px red;
}
img[src="img/gal8.1.jpg"]:hover{
    position: fixed;
    top:41%;
    left:78.5%;
    transform: translate(-50%,50%) scale(1.07, 1.07); 
    box-shadow: 0 0 40px red;
    
}
/* -----------HOVER END------------- */
img{
    margin-right: 20px;
    border-radius: 20px;
}
.drewno{
    background-image: url(img/de3.png);
    position: absolute;
    background-repeat:repeat-x;
    background-size: 13%;
    z-index: 70;
    min-height: 10%;
    width: 100%;
    top:104.8%;
    left:49.999%;
    transform: translate(-50%,-50%); 
}
#ifr1{
    width: 50%;
    height: 50%;
    margin-left: 18%;
    
    border: 0px solid;
    position: absolute;
    z-index: 1000;
}
#ifr2{
    width: 50%;
    height: 50%;
    margin-left: 18%;
    margin-top: 35%;
    border: 0px solid;
    position: absolute;
    z-index: 1000;
}
#ifr3{
    opacity: 0;
    position: absolute;
    z-index: -99;
}



